* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}



.carousel-inner .navbar {
  height: 60px;
}

.carousel-inner li {
  list-style: none;
  float: left;
  margin: 0;
  padding-right: 5px;
  padding-left: 5px;
}
.carousel-inner .right-bar {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.carousel-inner .left-bar {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.carousel-inner .first {
  font-size: 24px;
  color: #2e2e2e;
}

.carousel-inner .second, .third, .fourth, .fifth {
  font-size: 20px;
  color: #7a7a7a;
}

.carousel-caption {
  margin-bottom: 80px;
}

.carousel-caption .info {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  text-align: center
}

.carousel-caption .helper {
  background-color: orange;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.carousel-caption h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 18px;
}
.carousel-caption p {
  font-size: 22px;
  color: white;
  margin-bottom: 48px;
}
.carousel-caption a {
  font-size: 16px;
  color: white;
  background-color: #5900E7;
  padding: 10px 30px;
}

.introduce {
  height: 40px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 16px;
  background-color: #f5eebf;
  color: #ba8a04;
  font-size: 18px;
  border-radius: 5px;
}

.introduce span {

  color: #856107;
}

.container .row {
  margin-bottom: 20px;
}

.container .col {
  margin-bottom: 20px;
  height: 240px;
}

.container .course-one {
  margin: 0;
  height: 160px;
  background-image: url('../images/course1.jpg');
  background-size: cover;
}

.container .course-two {
  margin: 0;
  height: 160px;
  background-image: url('../images/course2.jpg');
  background-size: cover;
}

.container .course-three {
  margin: 0;
  height: 160px;
  background-image: url('../images/course3.jpg');
  background-size: cover;
}

.container .course-four {
  margin: 0;
  height: 160px;
  background-image: url('../images/course4.jpg');
  background-size: cover;
}

.container .course-five {
  margin: 0;
  height: 160px;
  background-image: url('../images/course5.jpg');
  background-size: cover;
}

.container .course-six {
  margin: 0;
  height: 160px;
  background-image: url('../images/course6.jpg');
  background-size: cover;
}

.container .course-seven {
  margin: 0;
  height: 160px;
  background-image: url('../images/course7.jpg');
  background-size: cover;
}

.container .course-eight {
  margin: 0;
  height: 160px;
  background-image: url('../images/course8.jpg');
  background-size: cover;
}

.container .content-box {
  height:80px;
  margin: 0;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.container .course-name {
  font-size: 18px;
  color: #4A4A4A;
}

.container img {
  width: 20px;
  height: 20px;
}

.container .teacher {
  font-size: 13px;
  color: #4A4A4A;
}
